<div id="el0" class="first">
    <div class="first__overlay">
        <video src="stock.mov" autoplay loop muted>
            <source src="stock.mov" type="video/mov">
        </video>
    </div>
    <div class="first__boxs">
        <div class="first__box">
            <div class="first__elem">
                <div class="first-date">
                    <div class="nw-date"><span>04.09</span><span>09.11</span></div>
                </div>
                <div class="first__title">МЕЖДУНАРОДНЫЙ <br>КОНКУРС AIJ</div>
                <div class="first__line"></div>
                <div class="first__text">Двухдневная конференция с ведущими международными и российскими спикерами – экспертами в области машинного обучения и анализа данных, а также представителями компаний – лидеров по внедрению процессов цифровизации бизнес-процессов. </div>
                <div class="first__control">
                    <a href="/" class="first__button btn btn--round btn--white">Посетить</a>
                    <a href="/" class="first__button btn btn--link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="first__box">
            <div class="first__elem">
                <div class="first-date">
                    <div class="nw-date"><span>08.11</span><span>09.11</span></div>
                </div>
                <div class="first__title">Конференция <br>AIJ Москва</div>
                <div class="first__line"></div>
                <div class="first__text">Двухдневная конференция с ведущими международными и российскими спикерами – экспертами в области машинного обучения и анализа данных, а также представителями компаний – лидеров по внедрению процессов цифровизации бизнес-процессов. </div>
                <div class="first__control">
                    <a href="/" class="first__button btn btn--round btn--white">Посетить</a>
                    <a href="/" class="first__button btn btn--link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="first__box">
            <div class="first__elem">
                <div class="first-date">
                    <div class="nw-date"><span>16.11</span><span>14.12</span></div>
                </div>
                <div class="first__title">Конференции <br>в регионах</div>
                <div class="first__line"></div>
                <div class="first__text">Двухдневная конференция с ведущими международными и российскими спикерами – экспертами в области машинного обучения и анализа данных, а также представителями компаний – лидеров по внедрению процессов цифровизации бизнес-процессов. </div>
                <div class="first__control">
                    <a href="/" class="first__button btn btn--round btn--white">Посетить</a>
                    <a href="/" class="first__button btn btn--link">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>