// GUI stylies of the project


.btn{
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
    text-decoration: none;
    padding: 0;
    color: $palette-base;
    font-size: 1rem;
    min-width: 174px;
    @include all-center;
    padding-left: 15px;
    padding-right: 15px;
    height: 54px;
    cursor: pointer;
    width: 100%;
    letter-spacing: 0.75px;
    font-weight: 900;
    transition: all ease-in-out .3s;
    position: relative;
    user-select: none;
    &:focus{
        outline: none;
    }
    &:active{
        top: 1px;
    }
    &--round{
        border-radius: 27px;
    }
    &--border{
        border: 2px solid $palette-base;
    }
    &--primary{
        color: #fff;
        border: 2px solid $palette-primary;
        background-color: $palette-primary;
        &:hover{
            background-color: $palette-secondary;
            border-color: $palette-secondary;
        }
    }
    &--secondary{
        color: #fff;
        border: 2px solid $palette-secondary;
        background-color: $palette-secondary;
        &:hover{
            color: $palette-secondary;
            background-color: transparent;
        }
    }
    &--white{
        border: 2px solid #fff;
        color: $palette-base;
        background-color: #fff;
    }
    &--gra{
        position: relative;
        z-index: 1;
        color: #fff;
        overflow: hidden;
        background-color: $palette-secondary;
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: $palette-secondary;
            background-image: linear-gradient(to right, $palette-secondary 0%, $palette-primary 100%);
            z-index: -2;
            transition: all ease-in-out .3s;
            content: '';
        }
        &:hover{
            &:after{
                opacity: 0;
            }
        }
    }
    &--border{
        color: $palette-base;
        background-color: transparent;
        &.btn--secondary{
            color: $palette-secondary;
            &:hover{
                background-color: $palette-secondary;
                border-color: $palette-secondary;
                color: #fff;
            }
        }
        &.btn--primary{
            color: $palette-primary;
            &:hover{
                background-color: $palette-primary;
                border-color: $palette-primary;
                color: #fff;
            }
        }
        &.btn--white{
            color: #fff;
            &:hover{
                background-color: $palette-primary;
                border-color: $palette-primary;
            }
        }
    }
}

.input{
    position: relative;
    label:not(.checkbox){
        position: absolute;
        color: #8c939a;
        left: 0;
        top: 16px;
        font-size: rem(14);
        user-select: none;
        transition: all ease .6s;
        pointer-events: none;
    }
    input{
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        border-bottom: 1px solid #cdd2d7;
        height: 48px;
        font-weight: 700;
        font-size: rem(16);
        color: $palette-base;
    }
    &.focusIn{
        label:not(.checkbox){
            top: 0;
            font-size: rem(12);
        }
    }
}
.checkbox{
    display: flex;
    align-items: center;
    input{
        display: none;
    }
    &__fake{
        width: 24px;
        height: 24px;
        min-width: 24px;
        margin-right: 19px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../img/general/gal.png);
        background-color: $palette-primary;
        transition: all ease .6s;
    }
    &__text{
        color: #8c939a;
        font-size: rem(14);
        a{
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all ease .6s;
            color: $palette-primary;
            &:hover{
                border-color: $palette-secondary;
                color: $palette-secondary;
            }
        }
    }
    input:checked+&__fake{
        background-color: $palette-secondary;
    }
}