// File for scss-vars.
// For example: main colors, paddings and so on.

$palette-primary: #00c500;
$palette-secondary: #00d7cc;
$palette-base: #242b35;
$palette-disabled: #9ea7b1;
$palette-bg: #f6f8fa;