<div class="winner">
    <div class="winner__text">
        <p>Соревнование Artificial General Intelligence (AGI) по методологии Robot College Student Test. Основная идея — сравнение результатов экзаменационного теста робота и человека. </p>
        <p>Решения принимаются в виде моделей, которые могут быть запущены отдельно от участника.</p>
    </div>
    <div class="winner__boxs">
        <div class="winner__box">
            <div class="winner__icon"><img src="%=static=%img/general/ic1.png" alt=""></div>
            <div class="winner__content">
                <div class="winner__title">зАДАЧА</div>
                <div class="winner__txt">
                    <p>Хотите раз и навсегда решить классические соревнования машинного обучения?</p>
                    <p>Участникам впервые предстоит построить систему AutoML (автоматического машинного обучения) на первом в своем роде датасете датасетов банковских задач: транзакции, временные ряды и классические табличные данные.</p>
                </div>
            </div>
        </div>
        <div class="winner__box">
            <div class="winner__icon"><img src="%=static=%img/general/ic2.png" alt=""></div>
            <div class="winner__content">
                <div class="winner__title">Формат решений</div>
                <div class="winner__txt">
                    <p>Решение представляет собой архив <br>
                    с кодом, который запускается <br>
                    в контейнерном окружении Docker. Архивы с решениями загружаются <br>
                    в автоматизированную проверяющую систему. Подробнее описание формата архива см. по <a href="/">ссылке.</a></p>
                </div>
            </div>
        </div>
        <div class="winner__box">
            <div class="winner__icon"><img src="%=static=%img/general/ic3.png" alt=""></div>
            <div class="winner__content">
                <div class="winner__title">Призы</div>
                <div class="winner__txt">
                    <p>Призовой фонд - 3 000 000 ₽! <br>
                    I место — 1 000 000 ₽; <br>
                    II - III места — 500 000 ₽ и 300 000 ₽; <br>
                    IV - V места — 200 000 ₽; <br>
                    VI - X места — 100 000 ₽.<br>
                    Кроме того, три лучших решения, выигравшие в специальной номинации получат приз жюри в 100 000 ₽.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="winner__footer">
        <div class="winner__bold">До окончания подачи <br>
                решений на конкурс осталось:</div>
        <div class="winner__numbers">
            <div class="winner__number">
                <div class="winner__num" data-content="43" data-num="43">0</div>
                <div class="winner__descript">дней</div>
            </div>
            <div class="winner__number">
                <div class="winner__num" data-content="12" data-num="12">0</div>
                <div class="winner__descript">часов</div>
            </div>
            <div class="winner__number">
                <div class="winner__num" data-content="34" data-num="34">0</div>
                <div class="winner__descript">минут</div>
            </div>
        </div>
    </div>
</div>