<div class="front-map">
    <div class="front-map__double">
        <div class="front-map__content">
            <div class="winner__text">
                <p>Двухдневная конференция с ведущими международными <br>и российскими спикерами — экспертами в области машинного обучения и анализа данных, а также представителями компаний — лидеров по внедрению процессов цифровизации бизнес-процессов.</p>
            </div>
            <div class="front-map__footer">
                <div class="front-map__gray"><img src="%=static=%img/general/map.png" alt=""> Место проведения</div>
                <div class="front-map__text">Экспоцентр, Москва,<br> Краснопресненская набережная, 14</div>
            </div>
        </div>
        <div class="front-map__map" id="map"></div>
    </div>
    <div class="front-map__flex">
        <div class="front-map__box">
            <div class="front-map__number">5000+</div>
            <div class="front-map__gra">участников</div>
        </div>
        <div class="front-map__box">
            <div class="front-map__number">300+</div>
            <div class="front-map__gra">спикеров и экспертов</div>
        </div>
        <div class="front-map__box">
            <div class="front-map__number">20+</div>
            <div class="front-map__gra">секций</div>
        </div>
        <div class="front-map__box">
            <div class="front-map__number">43 млн+</div>
            <div class="front-map__gra">человек — медиа охват</div>
        </div>
    </div>
    <div class="winner__footer">
        <div class="winner__bold">До начала конференции <br>
        AIJ Москва осталось: </div>
        <div class="winner__numbers">
            <div class="winner__number">
                <div class="winner__num" data-content="43" data-num="43">0</div>
                <div class="winner__descript">дней</div>
            </div>
            <div class="winner__number">
                <div class="winner__num" data-content="12" data-num="12">0</div>
                <div class="winner__descript">часов</div>
            </div>
            <div class="winner__number">
                <div class="winner__num" data-content="34" data-num="34">0</div>
                <div class="winner__descript">минут</div>
            </div>
        </div>
    </div>
</div>