<header class="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="%=static=%img/general/logo.png" alt="">
        </a>
        <div class="header__rg">
            <div class="header__menu menu">
                <a href="#el0" class="external">О проекте</a>
                <a href="#el1" data-image="%=static=%img/general/1.png" data-color="#242b33" data-bg="#e1e4e7" data-text="ВЕСЬ МИР" data-dateto="04.09" data-datefrom="09.11" data-buttontext="Участвовать" data-buttonurl="https://www.google.ru">Конкурс </a>
                <a href="#el2" data-image="%=static=%img/general/2.png" data-color="#ffffff" data-text="Москва" data-bg="#242b35" data-dateto="08.11" data-datefrom="09.11" data-buttontext="Регистрация" data-buttonurl="https://www.google.ru">Конференция в Москве</a>
                <a href="#el3" data-image="%=static=%img/general/3.png" data-color="#242b33" data-bg="#e1e4e7"  data-text="7 РЕГИОНОВ РОССИИ">Конференции в регионах</a>
                <a href="#el4" data-image="%=static=%img/general/4.png" data-color="#ffffff" data-text="Партнеры" data-bg="#242b35">Партнеры</a>
            </div>
            <a href="/" class="header__lang">EN</a>
            <div class="header__btn">
                <a href="/" class="btn btn--round btn--gra">Регистрация</a>
            </div>
        </div>
    </div>
</header>