<div class="part">
    <div class="part__slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="%=static=%img/general/part1.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part2.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part3.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part4.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part5.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part6.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part7.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part8.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part1.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part2.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part3.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part4.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part5.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part6.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part7.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part8.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part1.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part2.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part3.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part4.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part5.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part6.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part7.png" alt=""></div>
                <div class="swiper-slide"><img src="%=static=%img/general/part8.png" alt=""></div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="part-info">
        <div class="part__title">Хотите стать партером?</div>
        <a href="/" class="wrapper-link">
            <div class="wrapper-link__text"><span>Подробнее</span> <img src="%=static=%img/general/arr2.png" alt=""></div>
        </a>
    </div>
</div>