<div class="izh">
    <div class="winner__text">
        <p>Путешествие в мир машинного обучения, анализа данных и искусственного интеллекта расширяет географию и
            пройдет в 7 регионах России. </p>
        <p>Конференции проводятся на базе региональных вузов, активно развивающих направление изучения искусственного
            интеллекта.</p>
    </div>
    <div class="izh__flex">
        <div class="izh__box">
            <div class="izh__icon">
                <img src="%=static=%img/general/izh.png" alt="">
            </div>
            <div class="izh__title">Владивосток</div>
        </div>
        <div class="izh__box">
            <div class="izh__icon">
                <img src="%=static=%img/general/izh.png" alt="">
            </div>
            <div class="izh__title">Новосибирск</div>
        </div>
        <div class="izh__box">
            <div class="izh__icon">
                <img src="%=static=%img/general/izh.png" alt="">
            </div>
            <div class="izh__title">Томск</div>
        </div>
        <div class="izh__box">
            <div class="izh__icon">
                <img src="%=static=%img/general/izh.png" alt="">
            </div>
            <div class="izh__title">Екатеринбург</div>
        </div>
        <div class="izh__box">
            <div class="izh__icon">
                <img src="%=static=%img/general/izh.png" alt="">
            </div>
            <div class="izh__title">Казань</div>
        </div>
        <div class="izh__box">
            <div class="izh__icon">
                <img src="%=static=%img/general/izh.png" alt="">
            </div>
            <div class="izh__title">Калининград</div>
        </div>
        <div class="izh__box">
            <div class="izh__icon">
                <img src="%=static=%img/general/izh.png" alt="">
            </div>
            <div class="izh__title">Санкт-Петербург</div>
        </div>
    </div>
    <div class="izh__form">
        <div class="form-border">
            <div class="form-border__wrapper">
                <div class="form__title">Как принять участие?</div>
                <div class="winner__text">Оставьте свои данные и мы оповестим вас о датах проведения<br> мероприятий и
                    вариантах регистраций </div>
                <div class="form-double">
                    <div class="input">
                        <label>Как вас зовут?</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label>Введите ваш E-mail</label>
                        <input type="email">
                    </div>
                    <div class="input izh__ch">
                        <label class="checkbox">
                            <input type="checkbox">
                            <div class="checkbox__fake"></div>
                            <div class="checkbox__text">Я даю согласие на обработку <a href="/">персональных данных</a>
                            </div>
                        </label>
                    </div>
                    <div class="input izh__button">
                        <button type="submit" class="btn btn--round btn--gra">Отправить</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>